<div class="pull-right">
  <%= link_to image_tag("welcome.jpg",:width => "200",:height => "150"), new_post_path %>
</div>

<% @posts.each do |post| %>
<%= render :partial => post %>
<%= render :partial => post.comments %>
<div class="pull-right">
 <%= form_for [post, Comment.new] do |f| %>
    <p>
    <br/>
    <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add Comment",:class => "btn btn-warning"%></p>
  <% end %>
</div>
<br>

<% end %>
